#root {
  background-color: black;
}

.display-value {
  border: transparent 5px solid;
  color: white;
  text-align: end;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sp,
.op,
.num {
  border: 1px black solid;
  text-align: center;
}

.d-grid-last {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.num {
  background-color: rgb(236, 232, 222);
}

.op {
  background-color: rgb(68, 47, 255);
}

.sp {
  background-color: rgb(139, 139, 136);
}
